footer {
  //   margin-top: 30px;
  width: 100%;
  height: 10%;
  //   box-shadow: $box-shadow-2;
  position: fixed;
  bottom: 0;
  border-top: $border-header;
  z-index: 1100;
  p {
    color: $text-p-color !important;
    transition: all 0.3s ease-in-out;
    font-size: 15px !important;
    a {
      color: $text-menu-active-color !important;
      font-weight: 600;
    }
  }
}
