.btn__primary {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: #ffffff;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: $dark;
  background-color: $bg-gray;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}
